:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

/* body{
  background-color: #30384b;
  color: #eee;
}

main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
} */

.timer-app {
  background-color: #30384b;
  color: #eee;
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: fit-content;
  cursor: pointer;
}

button.with-text {
  display: flex;
  width: 50%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
  align-items: center;
}
button.with-text svg {
  width: 30px;
  float: left;
  margin-right: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}
